@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-rgb)),
    rgb(var(--background-rgb))
  );
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}